@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
    --nav-color: #403233;
    --background: #DB8239;
    --background-h: #FFA55C;
    --lettermd: #40220A;
    --letterlg: #5fa37b;
}
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}
body {
    background-color: var(--background-h);
}
header {
    display: flex;
    height: 65px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    position: fixed;
    top: 0;
}

.logo {
    height: 60%;
}

.navbar, .navbar-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    gap: 45px;
}

.navbar-list {
    gap: 20px;
    font-weight: bold;
}

.navbar-list a {
    color: var(--nav-color);

}
.navbar-list a:hover {
    color: var(--letterlg);
    background-color: var(--lettermd);
    border: 10px solid var(--lettermd);
    border-radius: 4rem;
}
.navbar-list li:first-child > a {
    color: black;
}
.navbar-list li:first-child > a:hover {
    color: var(--letterlg)
}
.cart-icon {
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 4px;
    cursor: pointer;
}
#hero {
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-h);
    flex-wrap: wrap;
    gap: 40px;
}
.hero-img {
    height: 250px;
    width: 400px;
    border-radius: 1rem;
    box-shadow: 2rem;
}
.hero-info {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 20px;
}
.hero-info h1 {
    font-size: 60px;
}
.hero-info p {
    font-size: 20px;
}
.hero-button {
    display: flex;
    gap: 20px;
    padding-left: 40px;
    flex-wrap: wrap;
}
.primary-button {
    padding: 15px;
    color: var(--background);
    border-radius: 2rem;
    background-color: var(--lettermd);
    text-align: center;
    border: 1px solid var(--lettermd);
}
.secondary-button {
    padding: 15px;
    color: var(--lettermd);
    border-radius: 2rem;
    background-color: var(--background);
    text-align: center;
    border: 1px solid var(--lettermd);
}
.primary-button:hover, .secondary-button:hover {
    color: var(--letterlg);
    background-color: var(--lettermd);
    border: 1px solid var(--lettermd);
    border-radius: 2rem;
}
.parraf-introductory {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding: 100px 100px;
    justify-content: center;
    align-items: center;
}

.parraf-introductory p > span {
    font-weight: bold;
}

#cards {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
.cards-tittle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    font-size: 20px;
}
.cards-tittle h3 {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
}
.cards-cards {
    display: flex;
    flex-direction: row;
    gap: 120px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.cards-uno, .cards-dos, .cards-tres {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cards-uno img, .cards-dos img, .cards-tres img {
    height: 100px;
    width: 80px;
}

.cards-uno h4, .cards-dos h4, .cards-tres h4 {
    text-align: center;
    margin-bottom: 10px;
}

.footer {
    display: flex;
    font-family: 'Roboto', sans-serif;
    justify-content: space-evenly;
    margin-top: 130px;
    margin-bottom: 70px;
    flex-wrap: wrap;
}
.contact-us {
    height: 300px;
    width: 350px;
    border: 2px solid black;
    border-radius: 2rem;
}
.footer-contact h4{
    font-size: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.contact-names img {
    height: 30px;
    width: 30px;
    border: none;
    border-radius: none;
}
.contact-names h4{
    font-size: 20px;
    margin-bottom: 20px;
}
.contact-uno {
    margin-bottom: 30px;
}


.contact-one, .contact-two, .contact-three {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
}
.contact-one img, .contact-two img, .contact-three img {
    margin-right: 10px;
}
.list-footer {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}
